trace-edge.com {
	encode zstd gzip

	request_body {
		max_size 25MB
	}

	reverse_proxy api:8000 {
		header_up Host {host}
		header_up X-Forwarded-Host {host}
		header_up X-Forwarded-Proto {scheme}
		header_up X-Forwarded-For {remote_host}
	}
}

www.trace-edge.com {
	redir https://trace-edge.com{uri} permanent
}

app.trace-edge.com {
	encode zstd gzip

	request_body {
		max_size 25MB
	}

	reverse_proxy api:8000 {
		header_up Host {host}
		header_up X-Forwarded-Host {host}
		header_up X-Forwarded-Proto {scheme}
		header_up X-Forwarded-For {remote_host}
	}
}
