@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@font-face {
  font-family: 'Geometria';
  src: local('Geometria');
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}
