{% extends "hilal/base_dashboard.html" %}
{% block page_styles %}
<link rel="stylesheet" href="{{ url_for('static', path='/dashboard.css') }}?v=20260820-canvas-only">
<link rel="stylesheet" href="{{ url_for('static', path='/sharia-product.css') }}?v=20260820-canvas-only">
{% endblock %}
{% block content %}
{% include "hilal/dashboard/partials/strategy_verify_content.html" %}
{% endblock %}
{% block page_scripts %}
<script src="{{ url_for('static', path='/dashboard.js') }}?v=20260820-canvas-only"></script>
{% endblock %}
